<form (ngSubmit)="onSubmit()" class="container">
  <div class="form-group">
    <label for="firstname">First Name:</label>
    <input type="text" id="firstname" name="firstname" [(ngModel)]="register.firstName" class="form-control" required>
  </div>
  <div class="form-group">
    <label for="lastname">Last Name:</label>
    <input type="text" id="lastname" name="lastname" [(ngModel)]="register.lastName" class="form-control" required>
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" [(ngModel)]="register.email" class="form-control" required>
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" [(ngModel)]="register.password" class="form-control" required>
  </div>
  <button type="submit" class="btn btn-primary">Register</button>
</form>
