<div class="bg-light" *ngIf="!isLoginOrRegisterRoute()">
  <div class="project-title bg-primary text-white py-2 text-center">Projects</div>
  <div>
    <ul>
      <li *ngFor="let project of projects" (click)="loadProject(project.id)">{{ project.name }}</li>
    </ul>
  </div>
  <div class="text-center">
    <button class="btn btn-primary" (click)="openModal()">
      Create Project
      <i class="bi bi-plus-circle"></i>
    </button>
    <app-create-project-modal *ngIf="isModalOpen" (close)="closeModal()"></app-create-project-modal>
  </div>
</div>
