<div class="bg-light" *ngIf="!isLoginOrRegisterRoute()">
  <div class="project-title bg-primary text-white text-center">Projects</div>
  <div>
    <ul>
      <li *ngFor="let project of projects" (click)="loadProject(project.id)"
          (mouseenter)="isHovered = true" (mouseleave)="isHovered = false">
        {{ project.name }}
        <i class="bi bi-gear-fill" *ngIf="isHovered"></i>
      </li>
    </ul>
  </div>
  <div class="text-center">
    <button class="btn btn-primary" (click)="openModal()">
      Create Project
      <i class="bi bi-plus-circle"></i>
    </button>
    <app-create-project-modal *ngIf="isModalOpen" (close)="closeModal()"></app-create-project-modal>
  </div>
</div>
