.sidebar {
  background-color: #f8f9fa;
  border-right: 1px solid #ddd;
  padding: 20px;
  height: 100vh;
  overflow: auto;
  background-color: gray;
  &.is-expanded {
    width: 200px;
  }
  &:not(.is-expanded) {
    width: 50px;
  }
}
.toggle-button {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%);
}
