<div>
  <form>
    <div class="table-header">
      <input type="text" [(ngModel)]="entity.key" placeholder="Table Name" name="tableName" required>
    </div>
    <div class="table-body">

      <div *ngFor="let column of entity.items; let i = index">
        <input type="text" [(ngModel)]="column.name" [name]="'columnName-' + i" placeholder="Column Name" required>
        <select [(ngModel)]="column.type" [name]="'columnType-' + i" required>
          <option value="string">String</option>
          <option value="number">Number</option>
          <option value="boolean">Boolean</option>
          <option value="date">Date</option>
        </select>
        <button (click)="removeColumn(i)">Remove</button>
      </div>
      <button (click)="addColumn()">Add Column</button>
      <button (click)="saveTable()">Save</button>
    </div>
  </form>
</div>
