.main-content {
  margin-left: 250px;
  transition: margin-left 0.3s ease;
  height: 100vh;
  width: calc(100vw - 250px);
  overflow: hidden;
}

.main-content.expanded {
  margin-left: 60px;
  width: calc(100vw - 60px);
}

.d-flex {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
