#myDiagramDiv {
  width: calc(100vw - 20vw) !important;
  height: calc(100vh - 90px) !important;
  border: 1px solid black;
  background-color: lightgrey;
  margin-left: 250px;
}

.margin-left {
  margin-left: 250px;
}
