<div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Project</h5>
        <button type="button" class="btn-close" (click)="closeModal()"></button>
      </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="projectName">Project Name</label>
          <input type="text" class="form-control" id="projectName" [(ngModel)]="project.name">
        </div>
      </form>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Member</th>
          <th scope="col">Role</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let member of project.members">
          <td>{{ member.name }}</td>
          <td>{{ member.role }}</td>
          <td>
            <button class="btn btn-primary" (click)="editMember(member)">Edit</button>
            <button class="btn btn-danger" (click)="deleteMember(member)">Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
      <button class="btn btn-success" (click)="addMember()">Add Member</button>
    </div>
    </div>
  </div>
</div>
