html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'Verdana', sans-serif;
}

* {
  box-sizing: border-box;
}

app-root {
  display: block;
  height: 100%;
  width: 100%;
}
